.colorbar {
  background-color: white;
  width: calc(100% - 133px);
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 113px;
  border-radius: 5px;
}

.axisContainer {
  position: absolute;
  left: 0;
}

.axis {
  width: 100%;
  height: 100%;
  font-size: 10px;
}
