.datamap {
  display: grid;
  grid-area: "map";
  position: relative;
}

.icon {
  position: absolute;
  bottom: -40px;
  right: 0;
  color: black;
  cursor: nwse-resize;
  transform: rotate(90deg);
}

.mapperbox > svg > g {
  transform: translate(-150%, -150%);
}

button[name="fit-to-viewer"] {
  display: none !important;
}

.loading {
  background-color: #616264;
  color: white;
  display: grid;
  place-items: center;
  height: 100%;
}
