.container {
  position: absolute;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  width: 150px;
  pointer-events: visible;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  max-height: 400px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button {
  height: 20px;
  width: 20px;
}

.selectionContainer {
  flex: 1;
  display: flex;
  max-height: 300px;
  flex-direction: column;
  margin-top: 10px;
  overflow: auto;
}

.fsaButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.fsaButton {
  width: 100%;
  display: flex;
  flex: 1;
}

.iconButton {
  width: 20px;
  height: 20px;
}
