body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#mapid {
  height: 180px;
}

.rv-continuous-color-legend .rv-gradient {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.rv-legend-titles {
  height: 16px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rv-legend-titles__left,
.rv-legend-titles__right,
.rv-legend-titles__center {
  color: #fff;
}
